.body {
    margin: 0px;
    width: 100vw;
    height: 100vh;
}
.header {
    background: rgb(245, 245, 184);
    text-align: center;
    height: 10%;
    /* margin: 0px; */
}

.content {
    display: flex;
    height: 80%;
}
.left_part {
    background: rgb(207, 231, 251);
    width: 30%;
}

.form_regis {
    background:aliceblue;
    width: 70%;
}

.footer {
    background: rgb(245, 245, 184);
    height: 10%;
}