.body {
    margin: 0px;
    width: 100vw;
    height: 100vh;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(255, 255, 255);
    text-align: center;
    height: 10%;
    /* margin: 0px; */
}

.logo {
    width: 80px;
    height: 80px;
    margin-left: 30px;
}

.content {
    display: flex;
    height: 80%;
}
.left_part {
    background: rgb(207, 231, 251);
    width: 20%;
}

.left_part a {
    display: flex;
    justify-content: start;
    margin: 20px;
    font-size: 30px;
    color: white;
}

.form_regis {
    background:aliceblue;
    width: 80%;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    background: rgb(255, 255, 255);
    height: 10%;
    font-size: 10px;
    
}